.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f2f5; */
  }
  
  .signup-card {
    background: #4b91a56b;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .signup-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #2279ca;
    text-shadow: 0 2px 2px rgb(8, 10, 17);
  }
  
  .signup-form .form-group {
    margin-bottom: 1rem;
  }
  
  .signup-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .signup-form .form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .btn-signup {
    width: 100%;
    padding: 0.75rem;
    background-color: #105eb1;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .btn-signup:hover {
    background-color: #214e88;
  }
  
  .login-link {
    margin-top: 1rem;
    color: #555;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  